[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git@github.com:Claymore/prezto.git
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/skwp/vim-colors-solarized
[submodule "gnome-terminal/gnome-terminal-colors-solarized"]
	path = gnome-terminal/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/epmatsw/ag.vim.git
[submodule "irssi/irssi-colors-solarized"]
	path = irssi/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/golden-ratio"]
	path = vim/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio.git
[submodule "vim/bundle/vim-flagship"]
	path = vim/bundle/vim-flagship
	url = git://github.com/tpope/vim-flagship.git
[submodule "vim/bundle/syntax"]
	path = vim/bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-sort-motion"]
	path = vim/bundle/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion.git
[submodule "vim/bundle/vim-textobj-indent"]
	path = vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/bundle/vim-textobj-line"]
	path = vim/bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/vim-counterpoint"]
	path = vim/bundle/vim-counterpoint
	url = https://github.com/jpetrie/vim-counterpoint
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
